<include file='public/header' />
		<div class='leftnav'>
			<ul>
				<a href=<{:U('story/index')}>><li>首页<i class="glyphicon glyphicon-home"></i></li></a>
				<notempty name='userInform'>
					<a href=<{:U('story/homestory',['uid'=>$userInform['id']])}>><li>故事<i class="fa fa-pencil"></i></li></a>
					<a href=<{:U('story/likeBeStory',['uid'=>$userInform['id']])}>><li>新的关注<i class="fa fa-star"></i></li></a>
					<a href=<{:U('story/commentout')}> class='active'><li>评论<i class="glyphicon glyphicon-comment"></i></li></a>
					<a href=<{:U('story/my')}>><li>个人资料<i class="fa fa-pencil"></i></li></a>
				</notempty>
			</ul>
		</div>	
		<div class="left">

			<div class="homehead">
				<!-- <div class="placeholder"></div> -->
				<div class="userinformation">
					<img src="__PUBLIC__/<{$currentUserInform.imgurl}>">
					<h3><{$currentUserInform.username}></h3>
					<div class='homeheadcontainer'>
						<p class="num"><{$currentUserInform.storynum|default=0}></p>
						<p class="title">故事</p>
					</div>
					<div class='homeheadcontainer'>
						<p class="num"><{$currentUserInform.likenum|default=0}></p>
						<p class="title">关注度</p>
					</div>
					<div class="placeholder"></div>
				</div>
			</div>
			<div class="homebanner">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group" aria-label="...">
					<a href=<{:U('story/commentout')}> class="commentbtn btn btn-default" type="button" role='button'>
						  发出的评论
					</a>
					</div>
					<div  class="btn-group" role="group" aria-label="...">
					<a href=<{:U('story/commentin')}> class="active commentbtn btn btn-default" type="button" role='button'>
						 收到的评论
					</a>
					</div>
				</div>
			</div>

			<if condition='$comments eq 0'>
				<div class="articleEmpty">没有可显示的评论</div>
			</if>
			<volist name='comments' id='comment'>
				<div class=mycomment>
					<div class="left"><img src=__PUBLIC__/<{$comment.imgurl}>></div>
					<div class="right">
						<p class=name><{$comment.username}></p>
						<p class=time><{$comment.time||dateConvert='date',###}></p>
						<p class=commenttext><{$comment.commenttext}></p>
						<p class=totext>评论我的故事：<{$comment.articletext}></p>
					</div>
					<div class='clean'></div>
				</div>				

			</volist>
			<nav style="text-align: center">
			  <ul class="pagination">
				  <php>if($currentpage>1){</php>
				  <li>
					  <a href=<{:U('story/index',['page'=>$currentpage-1])}> aria-label="Previous">
						  <span aria-hidden="true">&laquo;</span>
					  </a>
				  </li>
				  <php>}</php>
				  <php>
					  for($i=$currentpage-4;$i<$currentpage+4;$i++){
					  if($i>0&&$i<$articlepage+1){
				  </php>

				  <li
				  <php>
					  if($i==$currentpage){
				  </php>
				  class=active
				  <php>
					  }
				  </php>
				  >
				  <a href=
							 <php>echo "http://localhost/solarstory/index.php/Home/story/index/page/".$i</php>
					  >
					  <php>echo $i</php>
				  </a>
				  </li>

				  <php>}}</php>
				  <php>if($currentpage<$articlepage){</php>
				  <li>
					  <a href=<{:U('story/index',['page'=>$currentpage+1])}> aria-label="Next">
						  <span aria-hidden="true">&raquo;</span>
					  </a>
				  </li>
				  <php>}</php>
			  </ul>
			</nav>
		</div>
<include file='public/right' />
<include file='public/footer' />