<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title></title>
	<import type='css' file='css.font-awesome-4_5.css.font-awesome_min' />
	<import type='css' file='css.bootstrap_min' />
	<import type='css' file='css.story' />

</head>
<body class="story"
<empty name='userInform'>login=false</empty>
<notempty name='userInform'>login=true</notempty>
>

<div class='storybg'></div>
<canvas id="canvas" width="1100px" height="1000px">
</canvas>

<div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-body">
				<form class="form-1" action=<{:U('user/login')}> method="post">

					<h2>登陆</h4>

						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
						</div>

						<div class="input-group">
							<span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" name="password" name="username" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
						</div>
						<fieldset>
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon3">验证码</span>
								<input type="text" name="verify" class="form-control" placeholder="" aria-describedby="basic-addon2">
							</div>
						</fieldset>
						<img class="code" src="<{:U('story/code')}>" width=120px onclick="this.src=this.src">

						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group" aria-label="...">
								<input value="登陆" class="btn btn-danger " type="submit">
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body clearfix">
				<form class="form-1 signup" action=<{:U('user/signup')}> method="post">

					<h2>注册</h2>
					<fieldset>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon4"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
						</div>
					</fieldset>
					<fieldset>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon5"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" name="password" name="username" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
						</div>
					</fieldset>
					<fieldset>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon6">验证码</span>
							<input type="text" name="verify" class="form-control" placeholder="" aria-describedby="basic-addon2">
						</div>
					</fieldset>

					<img class="code" src="<{:U('story/code')}>" width=120px onclick="this.src=this.src">

					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<input value="立即注册" class="btn btn-warning " type="submit" >
						</div>
					</div>
				</form>
				<div id="intro">
					<p>欢迎来到这个节气故事的聚集地</p>
					<p>注册之后您可以:</p>
					<ul>
						<li>关注您喜欢的故事</li>
						<li>查看您关注的故事的评论</li>
					</ul>
					<p>去发掘更多的故事吧<!doctype html>
						<html lang="en">
						<head>
							<meta charset="UTF-8">
							<title>Document</title>
						</head>
						<body>

						</body>
						</html></p>
				</div>
			</div>

		</div>
	</div>
</div>



<div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">您还未登陆</h4>
			</div>
			<!-- <div class="modal-body">
              您还未登陆
            </div> -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<!--  <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>

<header class="navTop">
	<ul>
		<li><a>日历</a></li>
		<li><a>新闻</a></li>
		<li><a>Logo</a></li>
		<li><a>节 · 气</a></li>
		<li><a>黄道</a></li>
		<li><a href="story.html">故事</a></li>
	</ul>
</header>
<div class="clear"></div>
<div class="container">


<!--<canvas id="canvas" width="1100px" height="1000px">-->
<!--</canvas>-->
		<div class='leftnav'>
			<ul>
				<a href=<{:U('story/index')}> class='active'><li>发现<i class="glyphicon glyphicon-home"></i></li></a>
				<notempty name='userInform'>
				<a href=<{:U('story/homestory',['uid'=>$userInform['id']])}>><li>故事<i class="fa fa-pencil"></i></li></a>
				<a href=<{:U('story/likeBeStory',['uid'=>$userInform['id']])}>><li>新的关注<i class="fa fa-star"></i></li></a>
				<a href=<{:U('story/commentout')}>><li>评论<i class="glyphicon glyphicon-comment"></i></li></a>
					<a href=<{:U('story/my')}>><li>个人资料<i class="fa fa-pencil"></i></li></a>
				</notempty>
			</ul>
		</div>
		<div class="left">


			<form action=<{:U('story/submitwrite')}> method="post" id='write'>
				<textarea name=text placeholder="写下你的故事吧" draggable="false"></textarea>

				<div class='tag_container'>
					<div class="input-group input-group-sm" >
					  <span class="input-group-addon" id="sizing-addon1">标签</span>
					  <input type="text" name=tags class="form-control" placeholder="添加标签（以空格分隔）" aria-describedby="sizing-addon1">
					</div>
					<!-- <span class="tag">标签</span> -->
					<volist name='writetags' id='tag'>


					<a class='tag_section' href="#" name=<{$tag.id}> father=<{$tag.fatherid|default='0'}>><{$tag.name}></a>


										</volist>
				</div>
				<input type="submit"
				<empty name='userInform'>
				disabled
				</empty>

				 value="发表">
				<div class="clean"></div>
			</form>
			<if condition='$articles eq 0'>
				<div class="articleEmpty">没有可显示的故事</div>
			</if>
			<volist name='articles' id='article'>
				<article>
					<php>
						if(!isset($userInform)||(isset($userInform)&&$article['uid']!=$userInform['id'])){
					</php>
					<a id=<{$article.id}> class=articlehead
						<notempty name='article.ulike'>
							like=true
						</notempty>
						<empty name='article.ulike'>
							like=false
						</empty>
						><img src="__PUBLIC__/image/leaf.png"></a>
					<php>
						}
					</php>
					<div class="imgcontainer">
						<p class="month"><{$article.time|dateConvert="month",###}></p>
						<p class="day"><{$article.time|dateConvert="day",###}></p>
						<php>
							if(isset($userInform)&&$article['uid']==$userInform['id']){

						</php>
						<a href="<{:U('story/delete',['id'=>$article['id']])}>">删除</a>
						<php>
							}
						</php>
					</div>
					<div class="main">
						<div class="tags">
							<volist name="article['tags']" id="tag">
								<a href=<{:U('story/indextag',['tagid'=>$tag['id']])}>><{$tag.name}></a>
							</volist>
						</div>
						<p class="date">发表于 <{$article.time|dateConvert='date',###}></p>
						<article class="article"><{$article.text}></article>
						<p class="article_user"><img src=__PUBLIC__/<{$article['imgurl']}>><a href=<{:U('story/homestory',['uid'=>$article['uid']])}>><{$article.username}></a></p>
					</div>
					<footer></footer>
					<a href="#" class='showComment' id=<{$article.id}>>
						<i class="glyphicon glyphicon-comment"></i><span>（<{$article.commentnum}>）</span>
					</a>
					<div class="comment">
						<form action='' method="post">
							<img src=__PUBLIC__/<{$article['imgurl']}>>
							<input type='hidden' value=<{$article.id}> name='articleid'>
							<input type="text" name=text>
							<input type="submit" value='评论'>
						</form>
						<p class=commentEmpty style="display:none">暂无评论</p>
						<div class="commentplaceholder"></div>
						<div class="commentsection">
						</div>
						<nav style="text-align:center">
							<ul class="pagination pagination-sm">

							</ul>
						</nav>
						<div class="clean"></div>
					</div>
				</article>
			</volist>

			<nav style="text-align: center">
				<ul class="pagination">
					<php>if($currentpage>1){</php>
						<li>
							<a href=<{:U('story/index',['page'=>$currentpage-1])}> aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					<php>}</php>
					<php>
						for($i=$currentpage-4;$i<$currentpage+4;$i++){
						if($i>0&&$i<$articlepage+1){
					</php>

					<li
					<php>
						if($i==$currentpage){
					</php>
					class=active
					<php>
						}
					</php>
					>
					<a href=
							   <{:U('story/index',['page'=>$i])}>
						>
						<php>echo $i</php>
					</a>
					</li>

					<php>}}</php>
					<php>if($currentpage<$articlepage){</php>
						<li>
							<a href=<{:U('story/index',['page'=>$currentpage+1])}> aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					<php>}</php>
			  </ul>
			</nav>

		</div>

<div class="right">
	<div class="user">

		<!-- 数据库里id值为零时有问题，所以手动设1先 -->
		<notempty name='userInform'>
			<div class="userinformation">
				<img src=__PUBLIC__/<{$userInform['imgurl']}>>
				<h3><{$userInform['username']}></h3>

			</div>
			<a id='logout' href=<{:U('user/logout')}>>退出</a>
		</notempty>
		<empty name='userInform'>
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target=".modal1">登陆</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target=".modal2">注册</button>
				</div>
			</div>
		</empty>

</div>

	<div class="search">
		<form method="get" action="/solarstory/index.php/home/story/search">
			<div class="input-group">

				<input type="text" class="form-control" name="key" placeholder="搜索标签" aria-describedby="sizing-addon2">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			</div>
		</form>
	</div>

	<div class="tags">
		<!--<h2>标签</h2>-->
		<volist name='navtags' id='tag'>
			<a href="<{:U('story/indextag',['tagid'=>$tag['id']])}>" class="btn btn-primary btn-xs" role="button">
				<{$tag.name}> <span class="badge"><{$tag.hits}></span>
			</a>
			<br>
		</volist>
	</div>
</div>

<include file='public/footer' />
	<script src="__PUBLIC__/js/StoryIndexCanvas.js"></script>
