*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	font-family: sans-serif "微软雅黑";
}
#canvas{
	position:absolute;
	top:60px;
	left:0px;
	z-index: 1000;
}
#canvasbg{
	position:absolute;
	z-index: 1000;
}
.storybg{
	width: 100%;
	height: 1500px;
	background-image: url('/solarstory/Public/image/storybg.jpg');
	background-size: 1200px;
	z-index: -1;
	position: fixed;
}
a:link{
	color: black;
}
a:hover{
	text-decoration: none;
}
body{
	background-color: #c4d9f2;
}
a#tomodal3{
	display: none;
}

.navTop{
	color: aliceblue;
	background-color: rgba(49,49,49,1);
	box-shadow: 0px 0px 10px 0px black;
	position: fixed;
	width: 100%;
	height: 60px;
	font-size: 1.2rem;
	z-index: 1000;
}
.navTop ul{
	margin-left: 25%;
}
.navTop ul li{
	float: left;
	width: 13%;
	text-align: center;
}
.navTop ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	color: aliceblue;
}
.navTop ul a:link{
	color: aliceblue;
}
.navTop ul a:hover{
	box-shadow: 0px 2px 0px red;
}
.top{
	width: 100%;
	height: 60px;
}
.clear{
	height: 60px;
}
.container{
/*	float: right;*/
	width: 1100px;
	height: 2800px;
	margin: 0px auto;
	padding:30px 0 0 0;
	background-color: rgba(0,0,0,0.4);
	position: relative;
}
.leftnav{
	float: left;
	width: 15%;
}
.leftnav ul{
	width: 100%;
}
.leftnav ul li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: rgba(100,100,100,0.1);
	font-size: 15px;
	color: ghostwhite;
	padding-left: 20%;
	/*text-align: center;*/
}
.leftnav ul li:hover{
	background-color: rgba(200,200,200,0.1);
}
.leftnav ul li i{
	font-size: 15px;
	margin-left: 50px;
}
.leftnav ul a:nth-of-type(3) i,
.leftnav ul a:nth-of-type(5) i
{
	margin-left: 20px;
}
.container>.left{
	float: left;
	width:63%;
	height: 100%;
}
.container>.right{
	float: left;
	width: 19%;
	height: 100%;
	margin-left: 2%;
/*	background-color: sandybrown;*/
}
.left>article{
	z-index: 1;
	position:relative;
	margin-top: 15px;
	clear: both;
	width: 100%;
	min-height: 60px;
	padding-top: 1%;
	background-color: whitesmoke;
}
.left article .imgcontainer{
	display: block;
	float: left;
	margin-left: 10px;
	width: 60px;
	height: 70px;
	background-color: darkred;
	margin-top: 10px;
}
.left article .imgcontainer p{
	color:ghostwhite;
	text-align: center;
	height: 25px;
	padding-top:3px;
	font-size: 20px;
}
.left article .main{
	float: left;
	width: 80%;
	height: 100%;
	margin-left: 10px;
}
.left article .date{
	font-size: 10px;
}
.left article a[disabled]{
	display: none;
}
.left article .imgcontainer a{
	display: inline-block;
	margin-left: 13px;
	text-align: center;
	line-height: 40px;
}
.left article .imgcontainer a:hover{
	color: darkred;
}
.left article .main .article_user img{
	float: left;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

.left article .main .article_user{
	clear: both;
	height: 25px;
	margin-bottom: 10px;
	/*padding-left: 10px;*/
}
.left article .main .article_user a{
	line-height: 25px;
	margin-left: 10px;
	font-size: 17px;

}

.left article .main .tags{
	text-align: center;
	margin-top: 5px;
	/*padding-left: 10px;*/
	min-height: 30px;
}

.left article .main .tags a{
	float: left;
	font-size: 13px;
	background-color: wheat;
	line-height: 15px;
	border-radius: 20%;
	height: 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 3px 5px 3px 5px;
}
.left article .main .tags a:hover{
	background-color: orange;
}
.left article .showComment{
	display: block;
	clear: both;
	width: 100%;
	height: 30px;
	background-color: darkred;
	text-align: center;
		color: ghostwhite;
		font-size: 15px;

}

.left article .showComment i{
	font-size: 17px;
	padding: 0px;
	margin: 0px;
	width: 20px;
	height: 20px;
	line-height: 30px;
}
.left article .showComment span{
	line-height: 10px;
	margin-top: 0px;
	font-size: 13px;
	vertical-align: 2px;
}


.left article .comment{
	padding-top: 10px;
	width: 100%;
	min-height: 50px;
}
.left article .comment form{
	height: 70px;
	margin-bottom: 5px;
}
.left article .comment form img{
	width: 35px;
	height: 35px;
	margin-left: 20px;
	float: left;
}
.left article .comment form input[type=text]{
	padding: 3px;
	width: 85%;
	float: left;
	margin-left: 10px;
}
.left article .comment form input[type=submit]{
	color: ghostwhite;
	width: 80px;
	height: 30px;
	background-color: red;
	display: block;
	float: right;
	border: none;
	margin-right: 35px;
	margin-top: 10px;
}
.left article .comment form input[type=submit]:hover{
	background-color: orange;
}
.left article .comment .commentplaceholder{
	clear: both;
	float: left;
	width: 10%;
	height: 10px;
}
.left article .comment .commentsection{
	float: left;
	width: 85%;
	min-height: 20px;
}
.left article .comment .clean{
	height: 1px;
}
.left article .comment .commentdetail{
	float: left;
	width: 100%;
	margin: 0px;
	min-height: 40px;
}
.left article .comment .commentdetail hr{
	height: 1px;
	margin:0px;
	color: black;
	background-color: rgb(150,150,150);
	margin-bottom: 5px;
}
.left article .comment .commentdetail .commentleft{
	width: 5%;
	height: 20px;
	float: left;
}
.left article .comment .commentdetail .commentleft img{
	width: 25px;
	height: 25px;
}
.left article .comment .commentdetail .commentright{
	font-size: 13px;
	float: left;
	width: 90%;
	min-height: 40px;
	/*background-color: blue;*/
}
.left article .comment .commentdetail .commentright .date{
	font-size: 10px;
	margin:0px;
	margin-bottom: 3px;
}
.left article .comment .commentEmpty{
	text-align: center;
}
.left article .comment .delete{
	font-size: 11px;
	color: grey;
	margin-left: 10px;
}
.left article .comment .delete:hover{
	color: black;
}

.left article .comment nav li a{
	background-color: black;
	color: ghostwhite;
}
.left article .comment nav li a:hover{
	cursor: pointer;
	/*background-color: ghostwhite;*/
	color: yellow;
}
.left article .comment nav li.active a{
	background-color: ghostwhite;
	color: black;
	border:solid 1px black;
}
.left article .comment nav li.disabled a:hover{
	cursor: default;
	background-color:black;
	color: ghostwhite;
}
/*.left article .comment nav li a[aria-label="Previous"]{
	margin-right: 20px;
}
.left article .comment nav li a[aria-label="Next"]{
	margin-left: 20px;
}*/


.left article .articlehead{
	-webkit-transition:background-color 0.4s linear 0s,
				left 0.1s linear 0s;
				cursor: pointer;
	position: absolute;
	height: 40px;
	width: 50px;
	top: 10px;
	left: -50px;
	background-color: rgba(70,70,70,1);
	background-color: ghostwhite;
	z-index: 0;
	padding-top: 5px;
}
/*.left article .articlehead:[]*/
.left article .articlehead img{
	-webkit-transition:opacity 0.1s ease 0s;

	display: block;
	margin:auto auto;
	width: 60%;
	height: 85%;
	opacity: 0.7;
}
.left article .articlehead img:hover,
.left article .articlehead[like=true] img{
	opacity: 1.0
}
.left article .articlehead:hover,
.left article .articlehead[like=true]{
	background-color: rgba(40,40,40,1);
}

.left article article{
	display: block;
	width: 100%;
	min-height: 90px;
	padding: 1%;
	font-size: 15px;
}
.left article footer{
	width: 100%;
	height: 1px;
	clear: both;
}
.left .articleEmpty{
	width: 100%;
	height: 70px;
	margin-top: 20px;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	background-color: whitesmoke;
}
.navleft{
	float: left;
	margin-top: 50px;
	width: 80px;
	height:1000px;
}
.navleft a{
	display: block;
	width:60px;
	height: 60px;
	background-color: #313131;
}
.navleft li{
/*	color: black;*/
	font-size: 40px;

/*	background-color: saddlebrown;*/
}
.fa{
	color: azure;
	margin-left: 10px;
	margin-top: 12px;
}
#write{
	position: relative;
	width: 100%;
	background-color: whitesmoke;
	padding-top: 20px;
	padding-bottom: 10px;
}
#write textarea{
	display: block;
	width: 95%;
	margin: 0px auto;
	height: 80px;
	padding: 2%;
	border: none;
	resize:none;
	outline: none;
	font-size: 15px;
	box-shadow: inset 0 0 6px 0px #c3c3c3,0 0 2px 0px black;
}
#write input[type='submit']{
	float: right;
	margin-top: 20px;
	width: 100px;
	margin-right: 5%;
	height: 60px;
	line-height: 35px;
	color: aliceblue;
	font-size: 20px;
	text-align: center;
    background: #4242fd;
    border-radius:3px;
	border: none;
}
#write input[type='submit'][disabled]{
	background-color: grey;
}
#write input[type='submit']:hover,#write input[type='submit']:active{
	cursor: pointer;
}
#write textarea:focus{
	box-shadow: 0 0 1px 1px orange;
}

#write .tag_container .input-group{
	margin-top: 10px;
	margin-left: -5px;
}
#write .tag_container{
	padding-left: 18px;
	width: 75%;
	float: left;
}

#write .tag_section{
	font-size: 13px;
	float: left;
	background-color: wheat;
	border-radius: 20%;
	height: 20px;
	line-height: 15px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 3px 5px 3px 5px;
}
#write .tag_section.in{
	background-color: orange;
}
#write .tag_section:hover{
	background-color: orange;
}

.right .user{
	position: relative;
}
.modal{
	top:151px;
}

.right .tags{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 30px;
	padding-right: 30px;
}

.right .tags a{
	display: inline-block;
	color: ghostwhite;
	font-size: 13px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.right .tags a:hover{
	background-color: #ffa73b;
}
a:visited{
	color: black;
}
.form-1 h2{
	margin: 20px auto;
	text-align: center;
	font-size: 30px;

}
.form-1 .input-group
{
	margin-bottom: 10px;
}
.form-1 fieldset .input-group{
	margin: 0px;
}

.form-1 input[type=submit]{
	float: left;
	font-size: 20px;
	background-color: red;
	color: whitesmoke;
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 3px;
}

.form-1 input[type=submit]:hover{
	cursor: pointer;
	background-color: #d81111;
}
.form-1.sign input[type=submit]{
	clear: both;
	display: block;
	padding: 5px;
	width: 100%;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.form-1 img{
	display: block;
	margin:0 auto;
}
.form-1.signup{
	float: left;
	width: 250px;
	margin-left: 10px;
	margin-bottom: 10px;

}

.form-1 fieldset{
	/*width: 100px;*/
	/*height: 100px;*/
	height: 55px;
}

.form-1.signup .input-group:nth-of-type(3){
	width: 170px;
	float: left;
}
.form-1 .input-group:nth-of-type(3){
	margin:0px
}
.modal2 .modal-dialog{
	width: 600px;

}
.modal2 #intro{
	float: left;
	width: 280px;
	height: 330px;
	margin-left: 20px;
	background-color: #2A2C2E;
	border-radius: 20px;
	padding: 20px;
	color:ghostwhite;
}
.modal2 #intro ul li{
	list-style-type: disc;
	list-style-position:inside;
}
.modal2 #intro p{
	font-size: 13px;
}
.modal2 #intro p:nth-of-type(3){
	display: inline-block;
	/*background-color: coral;*/
	padding: 5px 15px;
	font-size: 15px;

	text-align: center;
	margin-left: 40px;
	margin-top: 100px;
	border-radius: 10px;
}
.modal2 #intro p:nth-of-type(1){
	font-size: 20px;
}
.form-1.signup .code{
	float: left;
	margin-left: 10px;
}
.left .homehead{
	position: relative;
	width: 100%;
	height: 180px;
	background-color: #11385a;
	padding-top: 20px;
	margin-bottom: 20px;
	background-image: url('../image/userbg.jpeg');
	background-size: cover;
	/*border:solid 1px black;*/
}
.left .homehead>.userinformation{

	width: 120px;
	margin: 0px auto;
}
.left .homehead>.userinformation h3{
	margin:0px;
	font-size: 20px;
}
.left .homehead>.userinformation p{
	margin: 0px;
}
.left .homehead>.userinformation>img{
	display: block;
	border: solid 2px grey;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: 0px auto;
}
.left .homehead>.userinformation>.homeheadcontainer{
	margin-top: 5px;
	color: black;
	width: 50%;
	height: 25%;
	float: left;
	padding: 0px 0px;
}
.left .homehead>.userinformation>.placeholder{
	height: 1px;
	width: 1px;
	clear: both;
}
.left .homehead>.userinformation>div:nth-of-type(1){
	border-right: solid 1px black;
}
.left .homehead>.userinformation>div>p{
	text-align: center;

}
.left .homehead h3{
	color: black;
		text-align: center;
	padding: 10px 0px;
}

.left .homemain{
	background-color: #dddddd;
	width: 100%;
	height: 2000px;
	padding-top: 20px;
}

.left .homemain article{
	width: 95%;
	margin: 20px auto;
}
/*已经登陆*/
.right .user .userinformation{
	background-image: url(../image/userbg.jpeg);
	background-size: cover;
	overflow: hidden;
	height: 110px;
}
.right .user .userinformation img{
	/*float: left;*/
	display: block;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: 6px auto;

	/*margin-left: 5px;*/

}
.right .user .userinformation>h3{
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.right .user #logout{
	display: block;
	width: 100%;
	height: 30px;
	float: left;
	background-color: orange;
	margin-top: 7px;
	text-align: center;
	line-height: 30px;
}
.right .user .nologin{
	overflow: hidden;
	/*width: 100px;*/
}

.right .user .nologin>a:nth-of-type(2){
	background-color: orange;
}

.right .user .userinformation>div>div:nth-of-type(1){
	border-right: solid 2px grey;
}
.mycomment{
	width: 100%;
	min-height: 50px;
	background-color: ghostwhite;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.mycomment .left{
	width: 10%;
	height: 20px;
	float: left;
}
.mycomment .left img{
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
	margin-top:0px;
	margin-left:10px;
}
.mycomment .right{
	float: left;
	width: 80%;
	min-height: 50px;
}
.mycomment .right p.name{
	font-size: 18px;
	margin-bottom: 1px;
}
.mycomment .right p.time{
	font-size: 10px;
}
.mycomment .right p.totext{
	background-color: #DDD;
	padding:10px;
}
.mycomment .right .commenttext{
	margin: 0px;
}
/*.mycomment*/
.clean{
	width: 1px;
	height: 1px;
	clear: both;
}
nav{
	clear: both;
}
.nav-pills{
	margin-top: 20px;
}
.nav-pills a{
	color: ghostwhite;
}
.nav-pills li:not(.active) a:hover{
	background-color: #337ab7;
}
.container>.left .users{
	min-height: 70px;
	background-color: ghostwhite;
	margin-top: 20px;
}
.container>.left .users nav{
	margin:0px;
	height: 70px;
	line-height: 100px;
}
.container>.left .users .left{
	float: left;
	width: 10%;
	/*background-color: black;*/
	height: 100%;
}
.container>.left .users .left img{
	display: block;
	width: 40px;
	height: 40px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 50%;
}
.container>.left .users .right{
	float: left;
	height: 100%;
	width: 80%;
}
.container>.left .users .right .name{
	height: 40px;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
	padding-left: 10px;
	line-height: 50px;
}
.container>.left .users .right .inform{
	font-size: 13px;
	margin-left: 10px;
	padding: 0px;
}
.container>.left .users .drop{
	font-size: 23px;
	text-align: center;
	padding-top: 20px;
	height: 70px;
	width: 10%;
	float: left;
}
.container>.left .likerecords{
	clear: both;
	width: 100%;
}
.container>.left .likerecord{
	clear: both;
	width: 100%;
	min-height: 50px;
	background-color: ghostwhite;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.container>.left .likerecord .liketext{
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}
.container>.left .likerecord .articletext{
	background-color: #DDD;
	width: 95%;
	padding: 6px;
	font-size: 12px;
}
.container>.left .users .clean{
	clear: both;
}
nav{
	clear:both;
}
.leftnav ul a.active li{
    background-color: red;
}
.search{
	margin-top: 50px;
	clear: both;
	float: left;
	width: 100%;
	height: 30px;
	color: ghostwhite;

}
.search span {
	background-color: black;
	border: none;
	color: ghostwhite;

}
.search span:hover{
	cursor: pointer;
}

.search input{
	background-color: rgba(60,60,60,0.5);
	border: none;
	color: ghostwhite;
}
.detail{
	float: left;
	margin-top: 30px;
	width: 45%;
	padding-left: 20px;
	padding-top: 70px;
	height: 250px;
	/*background-color: #000;*/
}
.editpicture .picture{
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 250px;
	height: 250px;
	margin-left: 100px;
	border:solid 2px black;
	box-shadow: 2px 2px 10px black;
}
.editpicture i{
	color:black;
	font-size: 20px;
}

.editpicture .progress{
	margin-top: 30px;
}
.form-1 .warning{
	font-size: 13px;
	margin: 0px;
	color: orange;
}
.form-1 .warning i{
	margin: 0px 5px;
}




