<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title></title>
	<import type='css' file='css.font-awesome-4_5.css.font-awesome_min' />
	<import type='css' file='css.bootstrap_min' />
	<import type='css' file='css.story' />

</head>
<body class="story"
<empty name='userInform'>login=false</empty>
<notempty name='userInform'>login=true</notempty>
>

<div class='storybg'></div>

<div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-body">
				<form class="form-1" action=<{:U('user/login')}> method="post">

					<h2>登陆</h4>

						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
						</div>

						<div class="input-group">
							<span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" name="password" name="username" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
						</div>
						<fieldset>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon3">验证码</span>
							<input type="text" name="verify" class="form-control" placeholder="" aria-describedby="basic-addon2">
						</div>
</fieldset>
						<img class="code" src="<{:U('story/code')}>" width=120px onclick="this.src=this.src">

						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group" aria-label="...">
								<input value="登陆" class="btn btn-danger " type="submit">
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body clearfix">
				<form class="form-1 signup" action=<{:U('user/signup')}> method="post">

					<h2>注册</h2>
					<fieldset>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon4"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
					</div>
						</fieldset>
					<fieldset>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon5"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" name="password" name="username" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
					</div>
					</fieldset>
					<fieldset>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon6">验证码</span>
						<input type="text" name="verify" class="form-control" placeholder="" aria-describedby="basic-addon2">
					</div>
						</fieldset>

					<img class="code" src="<{:U('story/code')}>" width=120px onclick="this.src=this.src">

					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<input value="立即注册" class="btn btn-warning " type="submit" >
						</div>
					</div>
				</form>
				<div id="intro">
					<p>欢迎来到这个节气故事的聚集地</p>
					<p>注册之后您可以:</p>
					<ul>
						<li>关注您喜欢的故事</li>
						<li>查看您关注的故事的评论</li>
					</ul>
					<p>去发掘更多的故事吧<!doctype html>
						<html lang="en">
						<head>
							<meta charset="UTF-8">
							<title>Document</title>
						</head>
						<body>
						
						</body>
						</html></p>
				</div>
			</div>

		</div>
	</div>
</div>



<div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">您还未登陆</h4>
			</div>
			<!-- <div class="modal-body">
              您还未登陆
            </div> -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<!--  <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>

<header class="navTop">
	<ul>
		<li><a>日历</a></li>
		<li><a>新闻</a></li>
		<li><a>Logo</a></li>
		<li><a>节 · 气</a></li>
		<li><a>黄道</a></li>
		<li><a href="story.html">故事</a></li>
	</ul>
</header>
<div class="clear"></div>
<div class="container">
